.Authors {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat( auto-fill, minmax(20rem, 1fr) );
}

.Author-link {
  transition: all 100ms ease-in-out;
  border: 2px solid $border-color;
}

.Author-link:hover {
  text-decoration: none;
  border: 2px solid orange;
}

.Author-title {
  color: $body-color;
}

.Author-bio {
  color: $text-muted;
}


.AuthorItem:hover .AuthorItem-title {
  color: $orange;
}

.AuthorItem:hover .AuthorItem-bio {
  color: theme-color-level(primary, -10);
}

