body {
  margin-top: 4.5rem;
}

body, .wrapper {
  min-height:100vh;
}

.nav-logo {
  height: 3rem;
  max-height: 100%;
  color: $white;

  &:hover {
    color: $light;
  }
}

.Product-link:hover {
  text-decoration: none;
}


.navbar .nav-link,
.navbar .btn,
.navbar .navbar-toggler {
  font-family: $headings-font-family;
  text-transform: uppercase;
}

.Talk-link {
  transition: all 100ms ease-in-out;
  border: 2px solid $border-color;
}

.Talk-link:hover {
  text-decoration: none;
  border: 2px solid orange;
}

.emphasis-border {
  border-bottom: 10px solid $gray-200;
}

.watermark-container {
  position: relative;
}

.watermark {
  position: absolute;
  top: 1rem;
  right: 0;
  opacity: 0.075;
  font-size: 6rem;
  transition: all 100ms ease-in;
}

.watermark-container:hover .watermark {
  opacity: 0.5;
}

.social-icon .fab {
  transition: all 100ms ease-in;
}

.social-icon:hover .fab {
  transition: all 100ms ease-in;
  transform: scale(1.3);
  color: $orange; 
}

.navbar-collapse {
  order: 3;
  @media (min-width: 768px) {
    order: initial;
  }
}
