.toc {
  order: 2;
  font-size: .875rem;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .toc {
    position: -webkit-sticky;
    position: sticky;
    top: 71px;
    height: calc(100vh - 71px);
    overflow-y: auto;
  }
}

.toc-title {
  font-size: .875rem;
  font-weight: 600;
  padding-left: calc(1rem + 1px);
  margin-bottom: .5rem;
}

#TableOfContents {
  padding-left: 0;
  border-left: 1px solid #eee;
}

#TableOfContents ul,
ul.toc-top {
  padding-left: 0;
}

#TableOfContents li {
  display: block;
}

#TableOfContents li a,
.toc-top li a {
  display: block;
  padding: .125rem 0 .125rem 1rem;
  font-size: 0.7rem;
}

#TableOfContents li a:hover,
.toc-top li a:hover {
  text-decoration: none;
}

body {
  position: relative;
}

:target:before {
  content:"";
  display:block;
  height:74px; /* fixed header height*/
  margin:-74px 0 0; /* negative fixed header height */
}

html{
  scroll-behavior:smooth;
}
