{{ define "main" }}
<div class="container py-5">
  <div class="row">
    <section class="col">
      <h1>{{ .Title }}</h1>
      {{ if .Params.photo }}
      <div class="article-header">
        <img src="{{ .Params.photo | absURL }}" class="article-banner w-100" itemprop="image">
      </div>
      {{end}}
    </section>
    <aside class="col-7">
      {{ .Content }}
      <div>
        {{ with .Params.topics }}
        <ul>
          {{ range . }}
          <li><a href="{{ "topics" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul>
          {{ range . }}
          <li> <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <i class="fal fa-presentation"></i>
      <h2> Presentations</h2>
      <ul>
        {{ $match := .Params.id }}
        {{ range $.Site.Data.presentations }}
        {{ if eq $match .person_id }}
        <li>{{ .talk_id }} {{ .person_id }} </li>
        {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" .person_id) }}
        <li>{{ .Title }}</li>
        {{ end }}
        <li>{{ with $.Site.GetPage "page" ( printf "talks/%s.md" .talk_id ) }}
          {{ .Title }}
          {{ end }}</li>

        {{ end }}
        {{ end }}
      </ul>

      {{ if ( gt ( len .Data.Pages ) 0 ) }}
      <h2>Articles</h2>
      <ul>
        {{ range .Data.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      {{ else }}
      {{ end }}

    </aside>
  </div>
</div>


{{ end }}
