{{ define "main" }}
<div class="container py-5">
  <div class="row">
    <section class="col">
      <h1 class="m-0">{{ .Title }}</h1>
      <h2 class="m-0"><small class="text-muted">{{ .Params.shortbio }}</small></h2>
      {{ if .Params.photo }}
      <div class="text-center p-2">
        <img src="{{ .Params.photo | absURL }}" class="article-banner w-75" itemprop="image">
      </div>
      {{end}}
      <div class="row no-gutters">
        <a class="col-md-auto p-2 social-icon" href="https:{{ .Params.linkedin }}"><i class="fab fa-linkedin"></i></a>
        <a class="col-md-auto p-2 social-icon" href="https://twitter.com/{{ .Params.twitter }}"><i class="fab fa-twitter"></i></a>
        <a class="col-md-auto p-2 social-icon" href="https://gihub.com/{{ .Params.github }}"><i class="fab fa-github"></i></a>
      </div>
    </section>

    <aside class="col-7">

      <div class="mb-4 border-bottom">
        {{ .Content }}
      </div>

      {{ $match := .Params.id }}
      {{ range $.Site.Data.presentations }}
      {{ if eq $match .person_id }}
      <div class="mb-4 border-bottom">
        <h3 class="watermark-container"><i class="fal fa-presentation mr-2 text-orange watermark"></i> Presentations</h3>
        <ul class="list-unstyled ml-2">
          <li class="mb-3">{{ .talk_id }} {{ .person_id }} </li>
          {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" .person_id) }}
          <li class="mb-3"><a class="d-block" href="{{ .Permalink }}">{{ .Title }}</a>{{ partial "publish-time.html" .}}</li>
          {{ end }}
          <li class="mb-3">{{ with $.Site.GetPage "page" ( printf "talks/%s.md" .talk_id ) }}
              <a class="d-block" href="{{ .Permalink }}">{{ .Title }}</a>{{ partial "publish-time.html" .}}
            {{ end }}</li>
        </ul>
      </div>
      {{ end }}
      {{ end }}

      {{ if ( gt ( len .Data.Pages ) 0 ) }}
      <div class="mb-4 border-bottom">
        <h3 class="watermark-container"><i class="fal fa-pen-square mr-2 text-orange watermark"></i> Articles</h3>
        <ul class="list-unstyled ml-2">
          {{ range first 5 .Data.Pages }}
          <li class="mb-3"><a class="d-block" href="{{ .Permalink }}">{{ .Title }}</a>{{ partial "publish-time.html" .}}</li>
          {{ end }}
          <li><a href="/posts">Back to Section</a></li>
        </ul>
      </div>
      {{ else }}
      {{ end }}

      {{ with .Params.tags }}
      <div>
        <h3 class="watermark-container"><i class="fal fa-grin-stars mr-2 text-orange watermark"></i> Interests</h3>
        <p>
          {{ range . }}
          <a class="badge badge-pill badge-warning" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </p>
      </div>
      {{ end }}
    </aside>
  </div>
</div>


{{ end }}
