{{ define "main" }}
<div class="bg-light">
    <div class="container pt-5 pb-2 mb-4">
        <h1 class="mb-4 SiteTitle">{{ .Title }}</h1>
        {{.Content}}
    </div> 
  </div>

<div class="container mb-5">
  <div class="Authors">
  {{ $placeholder := "img/Placeholder.png" }}
  {{ range .Data.Pages }}
    <div class="text-center">
      <a href="{{ .Permalink }}" class="Author-link d-block rounded">
        {{ if .Params.photo }}
          <img src="{{ .Params.photo | absURL }}" alt="{{ .Params.title }}" class="h-64 p-4">
        {{ else }}
          <img src="{{ $placeholder | absURL }}" alt="{{ .Params.title }}" class="h-64 p-4">
        {{end}}
        <h2 class="Author-title">{{ .Params.title }}</h2>
        <h3 class="Author-bio">{{ .Params.shortbio }}</h3>
      </a>
    </div>
  {{ end }}
  </div>
</div>
{{ end }}
