{{ define "main" }}
<div class="bg-light">

  <div class="container-fluid py-5">
    <div class="Authors">
    {{ $placeholder := "img/Placeholder.png" }}
    <div class="p-4">
        <h1 class="mb-4 SiteTitle">{{ .Title }}</h1>
        {{.Content}}
    </div> 
    {{ range .Data.Pages }}
      <a href="{{ .Permalink }}" class="Author-link d-flex align-items-center bg-white rounded">
        <div>
          {{ if .Params.photo }}
            <img src="{{ .Params.photo | absURL }}" alt="{{ .Params.title }}" class="h-48 p-4">
          {{ else }}
            <img src="{{ $placeholder | absURL }}" alt="{{ .Params.title }}" class="h-48 p-4">
          {{end}}
        </div>
        <div class="Author-meta">
          <h2 class="Author-title m-0">{{ .Params.title }}</h2>
          <h3 class="Author-bio m-0"><small>{{ .Params.shortbio }}</small></h3>
        </div>
      </a>
    {{ end }}
    </div>
  </div>
</div>

{{ end }}
