<ul class="stats list-unstyled text-secondary">
  <li class="categories">
    <ul class="list-unstyled">
        {{ if isset .Params "categories" }}
            {{ $categoriesLen := len .Params.categories }}
            {{ if gt $categoriesLen 0 }}
                {{ range $k, $v := .Params.categories }}
                {{ $url := printf "categories/%s" (. | urlize | lower) }}
                <li class="d-inline-block small"><a class="badge badge-light font-weight-normal" href="{{ $url | absLangURL }}"><i class="fal fa-folder"></i> {{ . }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
  </li>
  <li class="tags">
    <ul class="list-unstyled">
        {{ if isset .Params "tags" }}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 }}
                {{ range $k, $v := .Params.tags }}
                {{ $url := printf "tags/%s" (. | urlize | lower) }}
                <li class="d-inline-block small"><a class="badge badge-light font-weight-normal" href="{{ $url | absLangURL }}"><i class="fal fa-tag"></i> {{ . }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
  </li>
</ul>
