<ul class="stats list-unstyled text-secondary">
  <li class="categories mb-2">
    <ul class="list-unstyled">
        {{ if isset .Params "categories" }}
            {{ $categoriesLen := len .Params.categories }}
            {{ if gt $categoriesLen 0 }}
                <i class="fas fa-folder fa-fw"></i>
                {{ range $k, $v := .Params.categories }}
                {{ $url := printf "categories/%s" (. | urlize | lower) }}
                <li class="d-inline-block border-left pl-2 ml-2 small"><a class="article-category-link" href="{{ $url | absLangURL }}">{{ . }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
  </li>
  <li class="tags">
    <ul class="list-unstyled">
        {{ if isset .Params "tags" }}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 }}
                <i class="fas fa-tags fa-fw"></i>
                {{ range $k, $v := .Params.tags }}
                {{ $url := printf "tags/%s" (. | urlize | lower) }}
                <li class="d-inline-block border-left pl-2 ml-2 small"><a class="article-category-link" href="{{ $url | absLangURL }}">{{ . }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
  </li>
</ul>
