{{ define "main" }}
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 pt-5 pb-2">
        <h1 class="mb-4 SiteTitle">{{ .Title }}</h1>
        <div class="text-secondary small border-bottom mb-4">
          {{.Content}}
        </div>
        {{ partial "categories" . }}
        {{ partial "tags" . }}
      </div>
      <div class="ml-auto col-md-8 bg-white pt-5 pb-2">
          {{ $paginator := .Paginate .Data.Pages }}
          {{ range .Paginator.Pages }}
              {{ .Render "content-list" }}
          {{ end }}
          {{ partial "pagination" . }}
      </div>
    </div>
  </div>
</div>

{{ end }}
