<footer class="site-footer bg-light">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm">
        {{ partial "license.html" . }}
      </div>

      <div class="col-sm">
          <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
              {{ range .Site.Menus.social }}
              <li class="nav-item">
                <a href="{{ .URL }}" class="nav-link" target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-{{ .Pre }} fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              {{ end }}
            </ul>
          </nav>
        </div>

      <div class="col-sm">
        <nav class="navbar navbar-expand-sm">
          <ul class="navbar-nav">
            {{ range .Site.Menus.footer }}
            <li class="nav-item">
              <a href="{{ .URL }}" class="nav-link">
                {{ .Pre }}
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
