{{ $jquery := resources.Get "js/vendor/jquery.min.js" }}
{{ $popperjs := resources.Get "js/vendor/popper.min.js" }}
{{ $bootstrap := resources.Get "js/vendor/bootstrap.min.js" }}
{{ $highlight := resources.Get "js/vendor/highlight.min.js" }}
{{ $app := resources.Get "js/app.js" }}
{{ $js := slice $jquery $popperjs $bootstrap $highlight | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
{{ $app := resources.Get "js/app.js" }}
{{ $appjs := slice $app | resources.Concat "js/app-bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

<script src="{{$js.RelPermalink}}" integrity="{{ $js.Data.Integrity }}"></script>
<script src="{{$appjs.RelPermalink}}" integrity="{{ $appjs.Data.Integrity }}"></script>
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.js"></script>

{{ $sharect := resources.Get "js/vendor/sharect.min.js" | resources.Fingerprint "sha512" }}
<script src="{{$sharect.RelPermalink}}" integrity="{{ $sharect.Data.Integrity }}"></script>
<script>
  var sharect = new Sharect();
  sharect.config({
    twitter: true,
    twitterUsername: '@lockedata',
    backgroundColor: '#e8830c',
    iconColor: '#fff'
  }).init();
  hljs.initHighlightingOnLoad();
</script>
