<nav class="site-nav navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}"> {{ partial "logo.html" . }}</a>

  <button class="navbar-toggler ml-auto mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    Menu <i class="fal fa-ellipsis-h-alt"></i>
  </button>

  <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-3" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
        <a href="{{ .URL }}" class="nav-link text-nowrap">
          {{ .Pre }}
          {{ .Name }}
        </a>
      </li>
      {{ end }}
      <li class="nav-item dropdown nav-more d-none">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{ range .Site.Menus.main }}
          <a href="{{ .URL }}" class="dropdown-item">
            {{ .Pre }}
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </li>
    </ul>
  </div>

  <form class="schedule-call form-inline my-2 my-lg-0">
    <link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <button onclick="Calendly.showPopupWidget('https://calendly.com/lockedata')" type="button" value="submit" class="btn btn-success btn-shake my-2"><i
        class="fal fa-mobile mr-1 Shake" data-fa-transform="grow-4 rotate--3"></i> Schedule Call</button>
  </form>
</nav>
