<article class="col-4 px-4 py-2">
    <a href='{{ .Permalink }}' class="Product-link d-block">
      {{ with .Params.image }}
      <div class="mb-2">
          {{ partial "use_snipcart_images/list-product" (dict "image" . "baseURL" $.Site.Params.cloudinary_base_url) }}
      </div>
      {{ else }}
      <!-- placeholder image -->
      {{ end }}
      <div class="row px-1">
        <h2 class="text-body col-md-auto m-0">{{ .Title }}</h2>
        <div class="col align-middle text-right"><span class="text-primary mr-2">{{ partial "use_snipcart_price" (dict "price" .Params.price "currency" .Site.Params.currency)}}</span> 
            {{ partial "use_snipcart_buy-button" . }}
        </div>
      </div>
  </a>
</article>
