<article class="col-4 px-4 py-2">
    <a href='{{ .Permalink }}' class="Product-link d-block position-relative">
      {{ with .Params.image }}
      <div class="mb-2">
          {{ partial "use_snipcart_images/list-product" (dict "image" . "baseURL" $.Site.Params.cloudinary_base_url) }}
      </div>
      {{ else }}
      <!-- placeholder image -->
      {{ end }}
      <div class="d-flex justify-content-between align-items-end Product-meta">
        <div class="text-body">
            <h3 class="m-0">{{ .Title }}</h3>
            <span class="text-primary mr-2">{{ partial "use_snipcart_price" (dict "price" .Params.price "currency" .Site.Params.currency)}}</span>
        </div>
        <div class="text-right"> 
            {{ partial "use_snipcart_buy-button" . }}
        </div>
      </div>
  </a>
</article>
